@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

html, body {
    height: 100%;
}

#api > .heading, .claims-provider-list-buttons > .intro {
    display: none;
}

.hero {
    background-color: #0a0a0a;
    color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1.2rem 1rem;
}

.hero > * {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
 
label[for='password'],
label[for='signInName'] {
    display: none;
    background-color: #f43323;
}

.buttons {
    display: flex;
    justify-content: center;
}

.divider {
    text-align: center;
}

.create {
    display: flex;
}

.create > p {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

#create-msg-div {
    margin: 0.5rem;
    text-align: center;
}

#create-link-a {
    text-align: center;
}

footer {
    padding: 2rem;
    text-align: center;
}

.footer {
    padding: 1rem;
}

.password-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .create > p {
        flex-direction: column;
    }
}

.buttonExtraFormat {
    padding: 0px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.helpLink {
    background: black;
    border: 1px solid darkgray;
    border-radius: 4px;
    font-size: smaller;
    padding: 2px;
    padding-top: 0px;
    color: white;
}

.editField {
    max-width: 85%;
    margin-right: 4px;
}

.attrEntryMargin {
    margin-bottom: 10px;
}

.iconHeading {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.iconHeading img {
    width: 12%;
}

.iconHeading h1 {
    width: 80%;
}

.mainDiv {
    padding: 1rem !important;
}

.errorStyle {
    color: red;
}

.error {
    color: red;
}

.forgotPasswordButton {
    margin-top: 0.5rem !important;
    margin-bottom: 1.0rem !important;
}